<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scsa.attend.mapper.AttendanceInfoMapper">

    <resultMap id="AttendanceFullInfoResultMap" type="AttendanceFullInfo">

        <association property="attendanceInfo" javaType="AttendanceInfo">
            <id property="id" column="A_ID"/>
            <result property="aDate" column="A_DATE"/>
            <result property="isOff" column="IS_OFF"/>
            <result property="memId" column="MEM_ID"/>           <result property="aTypeId" column="A_TYPE_ID"/>      <result property="arrivalTime" column="ARRIVAL_TIME"/>
            <result property="leavingTime" column="LEAVING_TIME"/>
            <result property="status" column="STATUS"/>
            <result property="docPath" column="DOC_PATH"/>
            <result property="isApproved" column="IS_APPROVED"/>
            <result property="isOfficial" column="IS_OFFICIAL_FLAG"/> <result property="memNote" column="MEM_NOTE"/>
            <result property="adminNote" column="ADMIN_NOTE"/>
        </association>

        <association property="user" javaType="User">
            <id property="id" column="U_ID"/>
            <result property="loginId" column="U_LOGIN_ID"/>
            <result property="loginPwd" column="U_LOGIN_PWD"/>
            <result property="name" column="U_NAME"/>
            <result property="company" column="U_COMPANY"/>
            <result property="role" column="U_ROLE"/>
            <result property="startDay" column="U_START_DAY"/>
            <result property="endDay" column="U_END_DAY"/>
        </association>

        <association property="attendanceType" javaType="AttendanceType">
            <id property="id" column="AT_ID"/>
            <result property="name" column="AT_NAME"/>
            <result property="earliestTime" column="AT_EARLIEST_TIME"/>
            <result property="startTime" column="AT_START_TIME"/>
            <result property="endTime" column="AT_END_TIME"/>
            <result property="latestTime" column="AT_LATEST_TIME"/>
        </association>
    </resultMap>


    <select id="selectAFullInfosByCondition"
            parameterType="AttendanceInfoSearchCondition"
            resultMap="AttendanceFullInfoResultMap">

        SELECT
        -- A. ATTENDANCE_INFO (AI) 필드
        AI.ID AS A_ID,
        AI.A_DATE, AI.IS_OFF, AI.MEM_ID, AI.A_TYPE_ID,
        AI.ARRIVAL_TIME, AI.LEAVING_TIME, AI.STATUS,
        AI.DOC_PATH, AI.IS_APPROVED, AI.IS_OFFICIAL AS IS_OFFICIAL_FLAG,
        AI.MEM_NOTE, AI.ADMIN_NOTE,

        -- B. USERS (U) 필드
        U.ID AS U_ID,
        U.LOGIN_ID AS U_LOGIN_ID,
        U.LOGIN_PWD AS U_LOGIN_PWD,
        U.NAME AS U_NAME,
        U.COMPANY AS U_COMPANY,
        U.ROLE AS U_ROLE,
        U.START_DAY AS U_START_DAY,
        U.END_DAY AS U_END_DAY,

        -- C. ATTENDANCE_TYPE (AT) 필드
        AT.ID AS AT_ID,
        AT.NAME AS AT_NAME,
        AT.EARLIEST_TIME AS AT_EARLIEST_TIME,
        AT.START_TIME AS AT_START_TIME,
        AT.END_TIME AS AT_END_TIME,
        AT.LATEST_TIME AS AT_LATEST_TIME

        FROM ATTENDANCE_INFO AI
        JOIN USERS U ON AI.MEM_ID = U.ID
        JOIN ATTENDANCE_TYPE AT ON AI.A_TYPE_ID = AT.ID

        <where>
            <if test="startDate != null">
                AND AI.A_DATE >= #{startDate}
            </if>
            <if test="endDate != null">
                AND AI.A_DATE <![CDATA[ < ]]> #{endDate}
            </if>

            <if test="memIdList != null and memIdList.size > 0">
                AND AI.MEM_ID IN
                <foreach collection="memIdList" item="memId" open="(" separator="," close=")">
                    #{memId}
                </foreach>
            </if>

            <if test="statusList != null and statusList.size > 0">
                AND (
                <if test="statusList.contains(null)">
                    AI.STATUS IS NULL
                </if>

                <if test="statusList.size > (statusList.contains(null) ? 1 : 0)">

                    <if test="statusList.contains(null)">
                        OR
                    </if>

                    AI.STATUS IN
                    <foreach collection="statusList" item="status" open="(" separator="," close=")">
                        <if test="status != null">
                            #{status}
                        </if>
                    </foreach>
                </if>
                )
            </if>

            <if test="isApprovedList != null and isApprovedList.size > 0">
                AND (
                <if test="isApprovedList.contains(null)">
                    AI.IS_APPROVED IS NULL
                </if>
                <if test="isApprovedList.size > (isApprovedList.contains(null) ? 1 : 0)">
                    <if test="isApprovedList.contains(null)">
                        OR
                    </if>
                    AI.IS_APPROVED IN
                    <foreach collection="isApprovedList" item="isApproved" open="(" separator="," close=")">
                        <if test="isApproved != null and isApproved != ''">
                            #{isApproved}
                        </if>
                    </foreach>
                </if>
                )
            </if>
            <if test="isOfficialList != null and isOfficialList.size > 0">
                AND (
                <if test="isOfficialList.contains(null)">
                    AI.IS_OFFICIAL IS NULL
                </if>
                <if test="isOfficialList.size > (isOfficialList.contains(null) ? 1 : 0)">
                    <if test="isOfficialList.contains(null)">
                        OR
                    </if>
                    AI.IS_OFFICIAL IN
                    <foreach collection="isOfficialList" item="isOfficial" open="(" separator="," close=")">
                        <if test="isOfficial != null and isOfficial != ''">
                            #{isOfficial}
                        </if>
                    </foreach>
                </if>
                )
            </if>
        </where>
        ORDER BY AI.A_DATE DESC
    </select>

    <select id="selectAFullInfo"
            resultMap="AttendanceFullInfoResultMap">

        SELECT
        -- A. ATTENDANCE_INFO (AI) 필드
        AI.ID AS A_ID,
        AI.A_DATE, AI.IS_OFF, AI.MEM_ID, AI.A_TYPE_ID,
        AI.ARRIVAL_TIME, AI.LEAVING_TIME, AI.STATUS,
        AI.DOC_PATH, AI.IS_APPROVED, AI.IS_OFFICIAL AS IS_OFFICIAL_FLAG,
        AI.MEM_NOTE, AI.ADMIN_NOTE,

        -- B. USERS (U) 필드
        U.ID AS U_ID,
        U.LOGIN_ID AS U_LOGIN_ID, U.LOGIN_PWD AS U_LOGIN_PWD,
        U.NAME AS U_NAME, U.COMPANY AS U_COMPANY, U.ROLE AS U_ROLE,
        U.START_DAY AS U_START_DAY, U.END_DAY AS U_END_DAY,

        -- C. ATTENDANCE_TYPE (AT) 필드
        AT.ID AS AT_ID,
        AT.NAME AS AT_NAME, AT.EARLIEST_TIME AS AT_EARLIEST_TIME,
        AT.START_TIME AS AT_START_TIME, AT.END_TIME AS AT_END_TIME,
        AT.LATEST_TIME AS AT_LATEST_TIME

        FROM ATTENDANCE_INFO AI
        JOIN USERS U ON AI.MEM_ID = U.ID
        JOIN ATTENDANCE_TYPE AT ON AI.A_TYPE_ID = AT.ID

        WHERE AI.ID = #{aInfoId}
    </select>

    <update id="updateAInfo" parameterType="AttendanceInfo">
        UPDATE attendance_info
        <set>
            <if test="isOff != null">
                is_off = #{isOff},
            </if>
            <if test="aTypeId != null">
                a_type_id = #{aTypeId},
            </if>

            arrival_time = #{arrivalTime},
            leaving_time = #{leavingTime},
            status = #{status},
            is_approved = #{isApproved},
            is_official = #{isOfficial},
            admin_note = #{adminNote}
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateStatus" parameterType="AttendanceInfo">
        UPDATE ATTENDANCE_INFO
        SET
        STATUS = #{status}
        WHERE ID = #{id}
    </update>

    <select id="selectAFullInfoByDateAndMemId" resultMap="AttendanceFullInfoResultMap">
        SELECT
        -- A. ATTENDANCE_INFO (AI) 필드
        AI.ID AS A_ID,
        AI.A_DATE, AI.IS_OFF, AI.MEM_ID, AI.A_TYPE_ID,
        AI.ARRIVAL_TIME, AI.LEAVING_TIME, AI.STATUS,
        AI.DOC_PATH, AI.IS_APPROVED, AI.IS_OFFICIAL AS IS_OFFICIAL_FLAG,
        AI.MEM_NOTE, AI.ADMIN_NOTE,

        -- B. USERS (U) 필드
        U.ID AS U_ID,
        U.LOGIN_ID AS U_LOGIN_ID,
        U.LOGIN_PWD AS U_LOGIN_PWD,
        U.NAME AS U_NAME,
        U.COMPANY AS U_COMPANY,
        U.ROLE AS U_ROLE,
        U.START_DAY AS U_START_DAY,
        U.END_DAY AS U_END_DAY,

        -- C. ATTENDANCE_TYPE (AT) 필드
        AT.ID AS AT_ID,
        AT.NAME AS AT_NAME,
        AT.EARLIEST_TIME AS AT_EARLIEST_TIME,
        AT.START_TIME AS AT_START_TIME,
        AT.END_TIME AS AT_END_TIME,
        AT.LATEST_TIME AS AT_LATEST_TIME

        FROM ATTENDANCE_INFO AI
        JOIN USERS U ON AI.MEM_ID = U.ID
        JOIN ATTENDANCE_TYPE AT ON AI.A_TYPE_ID = AT.ID

        WHERE AI.A_DATE = #{aDate}
        AND AI.MEM_ID = #{memId}
    </select>

    <select id="selectFullInfosByDate"
            resultMap="AttendanceFullInfoResultMap">

        SELECT
        -- A. ATTENDANCE_INFO (AI) 필드
        AI.ID AS A_ID,
        AI.A_DATE, AI.IS_OFF, AI.MEM_ID, AI.A_TYPE_ID,
        AI.ARRIVAL_TIME, AI.LEAVING_TIME, AI.STATUS,
        AI.DOC_PATH, AI.IS_APPROVED, AI.IS_OFFICIAL AS IS_OFFICIAL_FLAG,
        AI.MEM_NOTE, AI.ADMIN_NOTE,

        -- B. USERS (U) 필드
        U.ID AS U_ID,
        U.LOGIN_ID AS U_LOGIN_ID, U.LOGIN_PWD AS U_LOGIN_PWD,
        U.NAME AS U_NAME, U.COMPANY AS U_COMPANY, U.ROLE AS U_ROLE,
        U.START_DAY AS U_START_DAY, U.END_DAY AS U_END_DAY,

        -- C. ATTENDANCE_TYPE (AT) 필드
        AT.ID AS AT_ID,
        AT.NAME AS AT_NAME, AT.EARLIEST_TIME AS AT_EARLIEST_TIME,
        AT.START_TIME AS AT_START_TIME, AT.END_TIME AS AT_END_TIME,
        AT.LATEST_TIME AS AT_LATEST_TIME

        FROM ATTENDANCE_INFO AI
        JOIN USERS U ON AI.MEM_ID = U.ID
        JOIN ATTENDANCE_TYPE AT ON AI.A_TYPE_ID = AT.ID

        WHERE AI.A_DATE = #{targetDate}
        ORDER BY AI.MEM_ID ASC
    </select>

    <!-- _______________ 내부 로직 ______________ -->

    <insert id="insertAInfoBatch" parameterType="AttendanceInfoBatch">
        INSERT INTO ATTENDANCE_INFO (
            MEM_ID,
            A_DATE,
            A_TYPE_ID,
            IS_OFF        )
        SELECT
            T1.MEM_ID,
            T1.Generated_Date,
            1,
            -- 요일 검사: 주말(SAT, SUN)이면 'Y', 아니면 'N'
            CASE
                WHEN TO_CHAR(T1.Generated_Date, 'DY', 'NLS_DATE_LANGUAGE=ENGLISH') IN ('SAT', 'SUN')
                THEN 'Y'
                ELSE 'N'
            END AS IS_OFF_STATUS  FROM
            (
                -- 1. 시작일 ~ 종료일 사이의 모든 날짜 생성 (주말 포함)
                SELECT
                    #{memId} AS MEM_ID,
                    TRUNC(#{startDay}) + LEVEL - 1 AS Generated_Date
                FROM
                    DUAL
                CONNECT BY
                    -- 모든 날짜를 생성하도록 조건 변경
                    TRUNC(#{startDay}) + LEVEL - 1 <![CDATA[ <= ]]> TRUNC(#{endDay})
            ) T1
    </insert>

    <update id="updateArrivalTime">
        UPDATE ATTENDANCE_INFO
        SET
        ARRIVAL_TIME = #{recordTime}
        WHERE ID = #{aInfoId}
    </update>

    <update id="updateLeavingTime">
        UPDATE ATTENDANCE_INFO
        SET
        LEAVING_TIME = #{recordTime}
        WHERE ID = #{aInfoId}
    </update>


    <update id="updateAInfoATypeToDefault">
        UPDATE ATTENDANCE_INFO
        SET A_TYPE_ID = #{defaultTypeId}
        WHERE A_TYPE_ID = #{oldTypeId}
    </update>

</mapper>